.wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  color: #b8b6b4;

  height: calc(100vh - 100px);

  > img {
    width: 100%;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
  }
}


@media screen and (max-width: 1140px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
