body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #171a21;
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #b8b6b4;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

a:active {
  color: #a2a0a2;
}
